<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>118454694024-r4qegkmd1l3fe1b7hv97pt7ijedg2aat.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118454694024-r4qegkmd1l3fe1b7hv97pt7ijedg2aat</string>
	<key>API_KEY</key>
	<string>AIzaSyBHle8Fi5_LVL3uH3imuDbSzXwIYdJs3Q8</string>
	<key>GCM_SENDER_ID</key>
	<string>118454694024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KFUPM-SWE417.Moyoon</string>
	<key>PROJECT_ID</key>
	<string>moyoon-abikmmr</string>
	<key>STORAGE_BUCKET</key>
	<string>moyoon-abikmmr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118454694024:ios:247096d15c7dd9ec</string>
	<key>DATABASE_URL</key>
	<string>https://moyoon-abikmmr.firebaseio.com</string>
</dict>
</plist>